<div class="container col-lg-12">
  <div class="row col-xs-12">
    <h2 class="text-center">{{currentLanguageSet?.history}}</h2>
    <hr/>
  </div>
  <!--Family Medical History Starts-->
  <div class="row m-t-10">
    <div class="col-xs-12">
      <h4>{{currentLanguageSet?.familyMedicalHistory}}</h4>
    </div>
    <div class="col-xs-12">
      <table class="table table-bordered table-striped casesheet-table" aria-describedby="diseaseType">
        <thead>
          <tr>
            <th id="sno">{{currentLanguageSet?.sno}}</th>
            <th id="diseaseType">{{currentLanguageSet?.diseaseType}}</th>
            <th id="familyMembers">{{currentLanguageSet?.familyMembers}}</th>
            <th id="">&nbsp;</th>
          </tr>
        </thead>
        <tbody *ngIf="!familyDiseaseHistory || familyDiseaseHistory.length == 0">
          <tr *ngFor="let row of blankRows">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
        <tbody *ngIf="familyDiseaseHistory">
          <tr *ngFor="let familyCancerDiseaseHistory of familyDiseaseHistory; let i = index">
            <td> {{ i + 1 }} </td>
            <td>{{familyCancerDiseaseHistory.cancerDiseaseType}}</td>
            <td>{{familyCancerDiseaseHistory.familyMemberList}}</td>
            <td> &nbsp; </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--Personal History ends-->

  <div class="row m-t-10">

    <div class="col-xs-12">
      <h4>{{currentLanguageSet?.personalHistory}}</h4>
    </div>

    <div class="col-xs-12">
      <table class="table table-no-border casesheet-table" aria-describedby="tobaccoUsage">
        <tr>
          <th id="tobaccoUse"> {{currentLanguageSet?.tobaccoUse}} :</th>
          <td>
            {{patientPersonalHistory?.tobaccoUse}}
          </td>
          <th id="startAgeYear"> {{currentLanguageSet?.startAgeinYears}}:</th>
          <td> {{ patientPersonalHistory?.startAge_year}} </td>
        </tr>

        <tr>
          <th id="endAgeYear"> {{currentLanguageSet?.stopAgeinYears}}:</th>
          <td> {{patientPersonalHistory?.endAge_year}} </td>
          <th id="typeOfTobaccoProduct"> {{currentLanguageSet?.tobaccoProductsUsed}}:</th>
          <td> {{ patientPersonalHistory?.typeOfTobaccoProduct}} </td>
        </tr>

        <tr>
          <th id="quantityPerDay"> {{currentLanguageSet?.cigarettesbeediQuantityday}}:</th>
          <td> {{patientPersonalHistory?.quantityPerDay}} </td>
          <th id="cigarettesFiltered"> {{currentLanguageSet?.cigarettesFiltered}}:</th>
          <td>
            <span *ngIf="patientPersonalHistory?.isFilteredCigaerette == true">
              {{currentLanguageSet?.yes}}</span>
            <span *ngIf="patientPersonalHistory?.isFilteredCigaerette == false">
              {{currentLanguageSet?.no}}</span>
          </td>
        </tr>

        <tr>
          <th id="cigaretteExposure"> {{currentLanguageSet?.exposureToSecondHandSmoke5min}}:</th>
          <td>
            <span *ngIf="patientPersonalHistory?.isCigaretteExposure == true">
              {{currentLanguageSet?.yes}}</span>
            <span *ngIf="patientPersonalHistory?.isCigaretteExposure == false">
              {{currentLanguageSet?.no}}</span>
          </td>
          <th id="BetelNutChewing"> {{currentLanguageSet?.habitOfBetelNutChewing}} :</th>
          <td>
            <span *ngIf="patientPersonalHistory?.isBetelNutChewing == true">
              {{currentLanguageSet?.yes}}</span>
            <span *ngIf="patientPersonalHistory?.isBetelNutChewing == false">
              {{currentLanguageSet?.no}}</span>
          </td>
        </tr>

        <tr>
          <th id="durationOfBetelQuid"> {{currentLanguageSet?.durationOfQuidInMouthinMins}}:</th>
          <td> {{patientPersonalHistory?.durationOfBetelQuid}} </td>
          <th id="alcoholUse"> {{currentLanguageSet?.alcoholUse}}:</th>
          <td>
            {{patientPersonalHistory?.alcoholUse}}
          </td>
        </tr>

        <tr>
          <th id="alcoholUsed"> {{currentLanguageSet?.alcoholConsumedwithin12Months}}:</th>
          <td>
            <span *ngIf="patientPersonalHistory?.ssAlcoholUsed == true">
              {{currentLanguageSet?.yes}}</span>
            <span *ngIf="patientPersonalHistory?.ssAlcoholUsed == false">
              {{currentLanguageSet?.no}}</span>
          </td>
          <th id="frequencyOfAlcoholUsed"> {{currentLanguageSet?.frequencywithin12Months}}:</th>
          <td> {{patientPersonalHistory?.frequencyOfAlcoholUsed}} </td>
        </tr>

        <tr>
          <th id="dietType"> {{currentLanguageSet?.dietType}}:</th>
          <td> {{ patientPersonalHistory?.dietType }} </td>
          <th id="intakeOfOutsidePreparedMeal"> {{currentLanguageSet?.weeklyIntakeOfOutsideMeal}}:</th>
          <td> {{patientPersonalHistory?.intakeOfOutsidePreparedMeal}} </td>
        </tr>

        <tr>
          <th id="fruitConsumptionDays"> {{currentLanguageSet?.fruitsConsumeddaysPerWeek}}:</th>
          <td> {{ patientPersonalHistory?.fruitConsumptionDays }} </td>
          <th id="fruitQuantityPerDay"> {{currentLanguageSet?.quantityConsumedcupsday}}:</th>
          <td> {{patientPersonalHistory?.fruitQuantityPerDay}} </td>
        </tr>

        <tr>
          <th id="vegetableConsumptionDays"> {{currentLanguageSet?.vegetablesConsumeddaysPerWeek}}:</th>
          <td> {{ patientPersonalHistory?.vegetableConsumptionDays }} </td>
          <th id="vegetableQuantityPerDay"> {{currentLanguageSet?.quantityConsumedcupsday}}:</th>
          <td> {{patientPersonalHistory?.vegetableQuantityPerDay}} </td>
        </tr>

        <tr>
          <th id="typeOfOilConsumedList"> {{currentLanguageSet?.typeOfOilConsumed}}:</th>
          <td> {{ patientPersonalHistory?.typeOfOilConsumedList }} </td>
          <th id="physicalActivityType"> {{currentLanguageSet?.physicalActivityType}}:</th>
          <td> {{patientPersonalHistory?.physicalActivityType}} </td>
        </tr>

        <tr>
          <th id="radiationExposure"> {{currentLanguageSet?.historyOfExposureToRadiation}}:</th>
          <td>
            <span *ngIf="patientPersonalHistory?.ssRadiationExposure == true">
              {{currentLanguageSet?.yes}}</span>
            <span *ngIf="patientPersonalHistory?.ssRadiationExposure == false">
              {{currentLanguageSet?.no}}</span>
          </td>
          <th id="thyroidDisorder"> {{currentLanguageSet?.historyOfThyroidDisorder}}:</th>
          <td>
            <span *ngIf="patientPersonalHistory?.isThyroidDisorder == true">
              {{currentLanguageSet?.yes}}</span>
            <span *ngIf="patientPersonalHistory?.isThyroidDisorder == false">
              {{currentLanguageSet?.no}}</span>
          </td>
        </tr>

      </table>
    </div>

  </div>
  <!--Personal History Ends-->


  <!--Obstetric History ends-->

  <div class="row m-t-10" *ngIf="beneficiaryDetails && beneficiaryDetails.genderName == 'Female'">

    <div class="col-xs-12">
      <h4>{{currentLanguageSet?.obstetricHistory}}</h4>
    </div>

    <div class="col-xs-12">
      <table class="table table-no-border casesheet-table" aria-describedby="pregnancyStatus">
        <tr>
          <th id="pregnancyStatus"> {{currentLanguageSet?.pregnancyStatus}}:</th>
          <td> {{patientObstetricHistory?.pregnancyStatus}} </td>
          <th id="urinePregTest"> {{currentLanguageSet?.urinePregnancyTest}}:</th>
          <td>
            <span *ngIf="patientObstetricHistory?.isUrinePregTest == true">
              {{currentLanguageSet?.positive}}</span>
            <span *ngIf="patientObstetricHistory?.isUrinePregTest == false">
              {{currentLanguageSet?.negative}}</span>
          </td>
        </tr>

        <tr>
          <th id="pregnantNo"> {{currentLanguageSet?.noOfTimesPregnant}}:</th>
          <td> {{patientObstetricHistory?.pregnant_No}} </td>
          <th id="noOfLivingChild"> {{currentLanguageSet?.noOfLivingChildren}}:</th>
          <td> {{ patientObstetricHistory?.noOfLivingChild}} </td>
        </tr>

        <tr>
          <th id="abortion"> {{currentLanguageSet?.abortions}}:</th>
          <td>
            <span *ngIf="patientObstetricHistory?.isAbortion == true">
              {{currentLanguageSet?.yes}}</span>
            <span *ngIf="patientObstetricHistory?.isAbortion == false">
              {{currentLanguageSet?.no}}
            </span>
          </td>
          <th id="oralContraceptiveUsed"> {{currentLanguageSet?.oralContraceptiveUsedIn5Years}}:</th>
          <td>
            <span *ngIf="patientObstetricHistory?.isOralContraceptiveUsed == true">{{currentLanguageSet?.yes}}</span>
            <span *ngIf="patientObstetricHistory?.isOralContraceptiveUsed == false">{{currentLanguageSet?.no}}</span>
          </td>
        </tr>

        <tr>
          <th id="hormoneReplacementTherapy"> {{currentLanguageSet?.harmoneReplacementTherapyIn5Years}}:</th>
          <td>
            <span *ngIf="patientObstetricHistory?.isHormoneReplacementTherapy == true">{{currentLanguageSet?.yes}}</span>
            <span *ngIf="patientObstetricHistory?.isHormoneReplacementTherapy == false">{{currentLanguageSet?.no}}</span>
          </td>
          <th id="menarcheAge"> {{currentLanguageSet?.ageAtMenarcheinYears}}:</th>
          <td> {{ patientObstetricHistory?.menarche_Age}} </td>
        </tr>

        <tr>
          <th id="menstrualCycleRegular"> {{currentLanguageSet?.regularityOfMenstrualCycles}}:</th>
          <td>
            <span *ngIf="patientObstetricHistory?.isMenstrualCycleRegular == true">{{currentLanguageSet?.regular}}</span>
            <span *ngIf="patientObstetricHistory?.isMenstrualCycleRegular == false">{{currentLanguageSet?.irregular}}</span>
          </td>
          <th id="menstrualCycleLength"> {{currentLanguageSet?.lengthOfMenstrualCycleinDays}}:</th>
          <td> {{ patientObstetricHistory?.menstrualCycleLength}} </td>
        </tr>

        <tr>
          <th id="menstrualFlowDuration"> {{currentLanguageSet?.menstrualFlowDurationinDays}}:</th>
          <td> {{patientObstetricHistory?.menstrualFlowDuration}} </td>
          <th id="menstrualFlowType"> {{currentLanguageSet?.typeOfFlow}}:</th>
          <td> {{ patientObstetricHistory?.menstrualFlowType}} </td>
        </tr>

        <tr>
          <th id="dysmenorrhea"> {{currentLanguageSet?.dysmenorrhea}}:</th>
          <td>
            <span *ngIf="patientObstetricHistory?.isDysmenorrhea == true">
              {{currentLanguageSet?.yes}}</span>
            <span *ngIf="patientObstetricHistory?.isDysmenorrhea == false">
              {{currentLanguageSet?.no}}</span>
          </td>
          <th id="interMenstrualBleeding"> {{currentLanguageSet?.intermenstrualBleeding}}:</th>
          <td>
            <span *ngIf="patientObstetricHistory?.isInterMenstrualBleeding == true"> {{currentLanguageSet?.yes}}</span>
            <span *ngIf="patientObstetricHistory?.isInterMenstrualBleeding == false">{{currentLanguageSet?.no}}</span>
          </td>
        </tr>

        <tr>
          <th id="menopauseAge"> {{currentLanguageSet?.ageAtMenopauseinYears}}:</th>
          <td> {{patientObstetricHistory?.menopauseAge}} </td>
          <th id="postMenopauseBleeding"> {{currentLanguageSet?.postmenopausalBleeding}}:</th>
          <td>
            <span *ngIf="patientObstetricHistory?.isPostMenopauseBleeding == true">{{currentLanguageSet?.yes}}</span>
            <span *ngIf="patientObstetricHistory?.isPostMenopauseBleeding == false">{{currentLanguageSet?.no}}</span>
          </td>
        </tr>

      </table>
    </div>

  </div>
  <!--Obstetric History Ends-->
</div>