<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <button type="button" class="close" md-dialog-close>
    <span class="pull-right">&times;</span>
  </button>
  <h4 md-dialog-title>{{currentLanguageSet?.createInteraction}}</h4>
</div>
<div class="m-b-10">
  <form [formGroup]="createInteractionForm">
    <div class="col-xs-12 col-sm-12">
      <md-input-container [style.width]="'100%'">
          <textarea mdInput  textAreaValidator  type="text" maxlength="750" name="interaction" placeholder="{{currentLanguageSet?.interaction}}" minlength="2" id='interaction' formControlName='interaction' rows="2" #Interaction required></textarea>        
        <md-hint >
          <span class="error_text" *ngIf="createInteractionForm.get('interaction').errors && createInteractionForm.get('interaction').touched">
            {{currentLanguageSet?.interactionIsRequired}}</span>
          
        </md-hint>
        <md-hint align="end">
          <span>{{ Interaction?.value?.length }}/750</span>
        </md-hint>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-b-1-5">
        <md-select class="width100" placeholder="{{currentLanguageSet?.variableName}}" name='variableName' id='variableName' formControlName='variableName'>
          <md-option *ngFor='let variableName of variableNamesList' [value]="variableName.dbColumnName">{{variableName.excelColumnName}}</md-option>
        </md-select>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-b-1-5">
        <md-select class="width100" placeholder="{{currentLanguageSet?.variableDataType}}" name='variableDataType' id='variableDataType' formControlName='variableDataType'>
          <md-option value="string">String</md-option>
          <md-option value="numeric">Numeric</md-option>
          <md-option value="date">Date</md-option>
        </md-select>
    </div>
  </form>
  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
    <button
      md-mini-fab
      color="primary"
      type="button"
      (click)="addInteraction()"
      [disabled]="!createInteractionForm.valid"
    >
      <md-icon
        mdSuffix
        class="mat-icon material-icons"
        role="img"
        aria-hidden="true"
        style="cursor: pointer"
        >add</md-icon
      >
    </button>
  </div>
  <div
    class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
    *ngIf="newInteractionArray.length != 0"
  >
    <div class="height-220 overflow-y">
    <div class="table-responsive">
    <table class="m-b-20 table table-striped table-hover" [md2Data]="newInteractionArray" #md2interactionData="md2DataTable" [rowsPerPage]="5" aria-describedby="interactionDetails">
      <thead>
          <tr>
            <th style="width: 60%" id="interaction">{{currentLanguageSet?.interaction}}</th>
            <th style="width: 15%" id="variableName">{{currentLanguageSet?.variableName}}</th>
            <th style="width: 15%" id="variableDataType">{{currentLanguageSet?.variableDataType}}</th>
            <th style="width: 10%" id="delete">{{currentLanguageSet?.delete}}</th>
          </tr>
      </thead> 
      <tbody>
        <tr *ngFor="let newInteraction of newInteractionArray; let i=index ">
          <td>
              {{newInteraction.interaction}}
          </td>
          <td>
              {{newInteraction.variableName}}
          </td>
          <td>
              {{newInteraction.variableDataType}}
          </td>
          <td>
              <span (click)="removeInteraction(i)">
                  <md-icon class="cursorPointer">delete</md-icon>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-t-10 m-b-5">
    <button md-raised-button color="accent" class="m-l-15 m-r-15 pull-right" [disabled]="(newInteractionArray.length==0)" (click)="saveInteractions()">
      {{currentLanguageSet?.submit}}</button>
    <button md-raised-button class="m-l-15 m-r-15 pull-right" md-dialog-close>
      {{currentLanguageSet?.close}}</button>
  </div>
</div>
