.table > tbody > tr > th,
.table > tbody > tr > td {
  border: none !important;
}
.md-small {
  width: 20px;
  line-height: 30px;
  font-size: 12px;
}
textarea {
  resize: none;
}
.sameLine div {
    display: inline-block;
    margin-right: 2px;
}
.infoTable{
    border-top: 1px solid #ddd !important;
}

