<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="table-responsive">
        <table class="m-b-20 table table-striped table-bordered table-hover" [md2Data]="medHistory104" #md2medicalHistory="md2DataTable"
            [rowsPerPage]="8" aria-describedby="medicalHistoryDetails">
            <thead>
                <tr>
                    <th id="sno">{{currentLanguageSet?.id}}</th>
                    <th id="name">{{currentLanguageSet?.name}}</th>
                    <th id="age">{{currentLanguageSet?.age}}</th>
                    <th id="chiefComplaint">{{currentLanguageSet?.presentCheifComplaint}}</th>
                    <th id="symptoms">{{currentLanguageSet?.symptoms}}</th>
                    <th id="provisionalDiagnosis">{{currentLanguageSet?.provisionalselectedDiagnosis}}</th>
                    <th id="recommendedAction">{{currentLanguageSet?.recommendedAction}}</th>
                    <th id="actionByHAO">{{currentLanguageSet?.actionByHao}}</th>
                    <th id="actionByMO">{{currentLanguageSet?.actionByMo}}</th>
                    <th id="actionByCO">{{currentLanguageSet?.actionByCo}}</th>
                    <th id="actionByPD">{{currentLanguageSet?.actionByPd}}</th>
                    <th id="date">{{currentLanguageSet?.date}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="medHistory104?.length == 0">
                    <td colspan="11" class="record-not-found">
                        {{currentLanguageSet?.noRecordFound}}
                    </td>
                </tr>
                <tr *ngFor="let case of md2medicalHistory.data">
                    <td>{{case?.requestID ? case?.requestID : case?.benHistoryID}}</td>
                    <td>{{case?.patientName}}</td>
                    <td>{{case?.patientAge}}</td>
                    <td class="cursorPointer"  mdTooltip={{case?.diseaseSummaryID}}>{{case?.diseaseSummary}}</td>
                        <td>{{case?.algorithm}}</td>
                        <td class="cursorPointer"  mdTooltip={{case?.selecteDiagnosisID}}>{{case?.selecteDiagnosis}}</td>
                            <td>{{case?.addedAdvice}}</td>
                            <td>{{case?.actionByHAO}}</td>
                            <td>{{case?.actionByMO}}</td>
                            <td>{{case?.actionByCO}}</td>
                            <td>{{case?.actionByPD}}</td>
                            <td>{{case?.createdDate|utcDate |date: 'dd/MM/yyyy hh:mm a'}}</td>
                </tr>
            </tbody>

      <tfoot>
        <tr>
          <td colspan="12">
            <md2-pagination></md2-pagination>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
