.highlightTrBg{
    background:#f5f5f5;       
}
.help-block {
    color: red;
    float: left;
}
.md-small {
    width: 20px;
    height: 25px;
    padding: 0px;
    font-size: 12px;
    line-height: 20px;
}
