<div class="col-xs-12 col-sm-12">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <h4 class="">{{currentLanguageSet?.otherDetails}}</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
            <div class="form-group">
                <label class="control-label" for="occupation">{{currentLanguageSet?.occupation}}</label>
                <input type="text" class="form-control" id="occupation" placeholder="Enter age name" name="occupation" ng-model="occupation">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
            <div class="form-group">
                <label class="control-label" for="educationQualification">{{currentLanguageSet?.selectEducationQualification}} </label>
                <select class="form-control drop-arrow" name="educationQualification " ng-model="educationQualification">
                    <option></option>
                    <option value="1">Graduation </option>
                    <option value="2">Post graduation</option>
                    <option value="3">Phd</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
            <div class="form-group">
                <label class="control-label" for="so">{{currentLanguageSet?.sexualOrientation}}</label>
                <select class="form-control drop-arrow" name="so" ng-model="so">
                    <option></option>
                    <option>Heterosexual</option>
                    <option>Homosexula</option>
                    <option>Bisexual</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
            <div class="form-group">
                <label class="control-label" for="placeOfWork">{{currentLanguageSet?.placeOfWork}}</label>
                <input type="text" class="form-control" id="placeOfWork" placeholder="{{currentLanguageSet?.enterPlaceOfWork}}" name="placeOfWork" ng-model="placeOfWork">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12">
            <div class="form-group">
                <label class="control-label" for="remarks">{{currentLanguageSet?.remarks}}</label>
                <textarea name="remarks" id="remarks" class="form-control" ng-model="remarks" ng-maxlength="255" ng-minlength="10" required></textarea>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-xs-12 col-sm-12">
            <h4 class="">{{currentLanguageSet?.howDoYouKnowAboutOurServices}}</h4>
        </div>
        <div class="col-xs-12 col-sm-12">
            <div>
                <label class="checkbox-inline">
                    <input type="checkbox" value="">{{currentLanguageSet?.pamphlet}}</label>
                <label class="checkbox-inline">
                    <input type="checkbox" value="">{{currentLanguageSet?.radio}}</label>
                <label class="checkbox-inline">
                    <input type="checkbox" value="">{{currentLanguageSet?.television}}</label>
                <label class="checkbox-inline">
                    <input type="checkbox" value="">{{currentLanguageSet?.familyAndFriends}}</label>
                <label class="checkbox-inline">
                    <input type="checkbox" value="">{{currentLanguageSet?.healthcareWorker}}</label>
                <label class="checkbox-inline">
                    <input type="checkbox" value="">{{currentLanguageSet?.others}}</label>
                <label class="checkbox-inline">
                    <input type="checkbox" value="">{{currentLanguageSet?.notDisclosed}}</label>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 m-t-5 m-b-5 ">
    <div class="row">
        
        <button type="button" class="btn cu-green-btn  pull-right p-l-r-38 font-regular f-s-18" id="">{{currentLanguageSet?.save}}</button>
        </div>
    </div>
</div>
