<div class="container col-lg-12">

  <div class="row m-t-10">
    <div class="col-xs-12 text-right">
      <p>
        <strong> {{currentLanguageSet?.date}}: </strong> {{ date }} </p>
    </div>
    <div class="col-xs-12 text-center">
      <img id="logo" src="assets/images/Piramal-logo-login.png" alt="Piramal">
    </div>
  </div>

  <div class="row m-t-20">
    <div class="col-xs-6 text-left">
      <p>
        <strong> {{currentLanguageSet?.visitCategory}}: </strong> {{ beneficiaryDetails?.VisitCategory }} </p>
    </div>
    <div class="col-xs-6 text-right" *ngIf="casesheetData?.serviceID == 2">
      <p>
        <strong> {{currentLanguageSet?.servicePoint}}: </strong> {{ beneficiaryDetails?.servicePointName}} </p>
    </div>
  </div>

  <!-- Beneficiary Details -->
  <div class="row m-t-10">
    <div class="col-xs-12">
      <fieldset>
        <legend>{{currentLanguageSet?.beneficiaryDetails}} </legend>
        <table class="table table-no-border casesheet-table" aria-describedby="caseSheetDetails"
        >
          <tr>
            <th id="beneficiaryid"> {{currentLanguageSet?.beneficiaryid}}:</th>
            <td> {{ beneficiaryDetails && beneficiaryDetails.beneficiaryID }} </td>
            <th id="visitCode"> {{currentLanguageSet?.visitCode}}:</th>
            <td> {{ beneficiaryDetails && beneficiaryDetails.visitCode }} </td>
          </tr>
          <tr>
            <th id="name"> {{currentLanguageSet?.name}}:</th>
            <td colspan="3"> {{ beneficiaryDetails && beneficiaryDetails.beneficiaryName }} </td>
          </tr>
          <tr>
            <th id="gender"> {{currentLanguageSet?.gender}}:</th>
            <td> {{ beneficiaryDetails && beneficiaryDetails.genderName }} </td>
            <th id="age"> {{currentLanguageSet?.age}}:</th>
            <td> {{ beneficiaryDetails && beneficiaryDetails.age }} </td>
          </tr>
        </table>
      </fieldset>
    </div>
  </div>
  <!-- End of Beneficiary Details -->

  <!-- Current Vitals -->
  <div class="row m-t-10">
    <div class="col-xs-12">
      <fieldset>
        <legend>{{currentLanguageSet?.currentVitals}}</legend>
        <table class="table table-no-border casesheet-table" aria-describedby="caseSheetDetails"
        >
          <tr>
            <th id="height"> {{currentLanguageSet?.height}}:</th>
            <td> {{ currentVitals && currentVitals.height_cm }} </td>
            <th id="temperature"> {{currentLanguageSet?.temperature}}:</th>
            <td> {{ currentVitals && currentVitals.temperature }} </td>
          </tr>
          <tr>
            <th id="weight"> {{currentLanguageSet?.weight}}:</th>
            <td> {{ currentVitals && currentVitals.weight_Kg }} </td>
            <th id="pulseRate"> {{currentLanguageSet?.pulseRate}}:</th>
            <td> {{ currentVitals && currentVitals.pulseRate }} </td>
          </tr>
          <tr>
            <th id="bloodPressuremmhgSystolic"> {{currentLanguageSet?.bloodPressuremmhgSystolic}}:</th>
            <td> {{ currentVitals && currentVitals.systolicBP_1stReading }} </td>
            <th id="bloodPressuremmhgDiastolic"> {{currentLanguageSet?.bloodPressuremmhgDiastolic}}:</th>
            <td> {{ currentVitals && currentVitals.diastolicBP_1stReading }} </td>
          </tr>
          <tr>
            <th id="bloodSugarmgdlFasting"> {{currentLanguageSet?.bloodSugarmgdlFasting}}:</th>
            <td> {{ currentVitals && currentVitals.bloodGlucose_Fasting }} </td>
            <th id="bloodSugarRandom"> {{currentLanguageSet?.bloodSugarRandom}}:</th>
            <td> {{ currentVitals && currentVitals.bloodGlucose_Random }} </td>
          </tr>
          <tr>
            <th id="bloodSugarmgdlPp"> {{currentLanguageSet?.bloodSugarmgdlPp}}:</th>
            <td> {{ currentVitals && currentVitals.bloodGlucose_2hr_PP }} </td>
            <td colspan="2"></td>
          </tr>
        </table>
      </fieldset>
    </div>
  </div>
  <!-- End of Current Vitals -->

  <!-- Chief complaints and description -->
  <div class="row m-t-10">
    <div class="col-xs-12">
      <h4>{{currentLanguageSet?.chiefComplaintsAndDescription}}</h4>
    </div>
    <!-- General visit type -->
    <div class="col-xs-12">
      <table class="table table-bordered table-striped" aria-describedby="caseSheetDetails"
      >
        <thead>
          <tr>
            <th style="width : 5%" id="sno">{{currentLanguageSet?.sno}}</th>
            <th style="width: 10%" id="sctId">{{currentLanguageSet?.sctId}}</th>
            <th style="width: 25%" id="chiefComplaint">{{currentLanguageSet?.chiefComplaint}}</th>
            <th style="width: 10%" *ngIf="visitCategory != 'General OPD (QC)'" id="duration">
              {{currentLanguageSet?.duration}}</th>
            <th style="width: 10%" *ngIf="visitCategory != 'General OPD (QC)'" id="durationUnit">
              {{currentLanguageSet?.durationUnit}}</th>
            <th style="width: 40%" id="description">{{currentLanguageSet?.description}}</th>
          </tr>
        </thead>
        <tbody *ngIf="!caseRecords || !caseRecords.findings || !caseRecords.findings.complaints || caseRecords.findings.complaints.length == 0">
          <tr>
            <td [attr.colspan]="visitCategory != 'General OPD (QC)' ? 7 : 5" class="text-center"> {{currentLanguageSet?.noRecordfound}} </td>
          </tr>
        </tbody>
        <tbody *ngIf="caseRecords && caseRecords.findings && caseRecords.findings.complaints">
          <tr *ngFor="let complaints of caseRecords.findings.complaints; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{complaints.conceptID}}</td>
            <td>{{ complaints.chiefComplaint }}</td>
            <td *ngIf="visitCategory != 'General OPD (QC)'">{{ complaints.duration }}</td>
            <td *ngIf="visitCategory != 'General OPD (QC)'">{{ complaints.unitOfDuration }}</td>
            <td>{{ complaints.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- End of Chief complaints and description -->

  <!-- Clinical Observations -->
  <div class="row m-t-10">
    <div class="col-xs-12">
      <h4>{{currentLanguageSet?.clinicalObservations}}</h4>
      <div class="textarea">
        {{ caseRecords && caseRecords.findings && caseRecords.findings.clinicalObservation}}
      </div>
    </div>
  </div>
  <!-- End of Clinical Observations -->

  <!-- Significant Findings -->
  <div *ngIf="visitCategory != 'General OPD (QC)'" class="row m-t-10">
    <div class="col-xs-12">
      <h4>{{currentLanguageSet?.significantFindings}}</h4>
      <div class="textarea">
        {{ caseRecords && caseRecords.findings && caseRecords.findings.significantFindings}}
      </div>
    </div>
  </div>
  <!-- End of Significant Findings -->

  <!-- Investigations -->
  <div class="row m-t-10">
    <div class="col-xs-12">
      <h4>{{currentLanguageSet?.investigations}}</h4>
    </div>
    <!-- {{caseRecords| json}} -->
    <div class="col-xs-12">
      <table class="table table-bordered table-striped" aria-describedby="caseSheetDetails"
      >
        <thead>
          <tr>
            <th style="width: 5%" id="sno">{{currentLanguageSet?.sno}}</th>
            <th style="width: 20%" id="procedureName">{{currentLanguageSet?.procedureName}}</th>
            <th style="width: 20%" id="componentName">{{currentLanguageSet?.componentName}}</th>
            <th style="width: 10%" id="testResult">{{currentLanguageSet?.testResult}}</th>
            <th style="width: 10%" id="unit">{{currentLanguageSet?.unit}}</th>
            <th style="width: 35%" id="remarks">{{currentLanguageSet?.remarks}}</th>
          </tr>
        </thead>
        <tbody *ngIf="!caseRecords || !caseRecords.LabReport || caseRecords.LabReport.length == 0">
          <tr>
            <td class="text-center" colspan="6"> {{currentLanguageSet?.noRecordFound}} </td>
          </tr>
        </tbody>
        <tbody *ngIf="caseRecords && caseRecords.LabReport">
          <ng-container *ngFor="let procedure of caseRecords.LabReport; let i = index">
            <tr>
              <td [rowSpan]="procedure.componentList.length+1">{{ i+ 1}}</td>
              <th [rowSpan]="procedure.componentList.length+1" id="procedureName"> {{procedure?.procedureName}} </th>
            </tr>
            <tr *ngFor='let report of procedure.componentList'>
              <td>{{report?.componentName}}</td>
              <td>{{report?.testResultValue}}</td>
              <td>{{report?.testResultUnit}}</td>
              <td>{{report?.remarks }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <!-- End of Investigations -->

  <!--External investigation-->
  <div class="row m-t-10">
    <div class="col-xs-12">
      <h4>{{currentLanguageSet?.externalInvestigation}}</h4>
      <div class="textarea">
        {{ caseRecords && caseRecords.diagnosis && caseRecords.diagnosis.externalInvestigation}}
      </div>
    </div>
  </div>
  <!--End of external investigation-->

  <!-- Diagnosis -->
  <div class="row m-t-10">
    <div class="col-xs-12">
      <h4>{{currentLanguageSet?.diagnosis}}</h4>
    </div>

    <!-- ANC Diagnosis -->
    <div *ngIf="visitCategory == 'ANC'" class="col-xs-12">
      <table class="table table-no-border casesheet-table" aria-describedby="caseSheetDetails"
      >
        <tr>
          <th id="gravida"> {{currentLanguageSet?.gravida}}:</th>
          <td> {{ ancDetails && ancDetails.ANCCareDetail && ancDetails.ANCCareDetail.gravida_G }} </td>
          <th id="periodOfPregnancymonths"> {{currentLanguageSet?.periodOfPregnancymonths}}:</th>
          <td> {{ ancDetails && ancDetails.ANCCareDetail && ancDetails.ANCCareDetail.duration}} </td>
        </tr>

        <tr>
          <th id="complication"> {{currentLanguageSet?.complicationOfCurrentPregnancy}}:</th>
          <td> {{ caseRecords && caseRecords.diagnosis && caseRecords.diagnosis.complicationOfCurrentPregnancy }} </td>
          <th id="riskStatus"> {{currentLanguageSet?.highRiskStatus}}:</th>
          <td> {{ caseRecords && caseRecords.diagnosis && caseRecords.diagnosis.highRiskStatus }} </td>
        </tr>

        <tr>
          <th colspan="4" id="riskCondition"> {{currentLanguageSet?.highRiskCondition}}: </th>
        </tr>
        <tr>
          <td colspan="4">
            <div class="textarea">
              {{ caseRecords && caseRecords.diagnosis && caseRecords.diagnosis.highRiskCondition }}
            </div>
          </td>
        </tr>

        <tr>
          <th id="maternalDeath"> {{currentLanguageSet?.maternalDeathDuringAnc}}:</th>
          <td *ngIf="caseRecords?.diagnosis?.isMaternalDeath == true">{{ 'Yes' }} </td>
          <td *ngIf="caseRecords?.diagnosis?.isMaternalDeath == false">{{ 'No' }} </td>
          <td colspan="2"></td>
        </tr>

        <ng-container *ngIf="caseRecords?.diagnosis?.isMaternalDeath">
          <tr>
            <th id="dateOfDeath"> {{currentLanguageSet?.dateOfDeath}}:</th>
            <td> {{ caseRecords && caseRecords.diagnosis && caseRecords.diagnosis.dateOfDeath}} </td>
            <th id="placeOfDeath"> {{currentLanguageSet?.placeOfDeath}}:</th>
            <td> {{ caseRecords && caseRecords.diagnosis && caseRecords.diagnosis.placeOfDeath}} </td>
          </tr>

          <tr>
            <th colspan="4" id="causeOfDeath"> {{currentLanguageSet?.probableCauseOfDeath}}: </th>
          </tr>

          <tr>
            <td colspan="4">
              <div class="textarea">
                {{ caseRecords && caseRecords.diagnosis && caseRecords.diagnosis.causeOfDeath}}
              </div>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>

    <!-- PNC Diagnosis -->
    <div *ngIf="visitCategory == 'PNC'" class="col-xs-12">
      <table class="table table-no-border casesheet-table" aria-describedby="caseSheetDetails"
      >
        <tr>
          <th colspan="4" id="provisionalDiagnosis"> {{currentLanguageSet?.provisionalDiagnosis}}: </th>
        </tr>
        <tr>
          <td colspan="4">
            <div class="textarea">
              {{ caseRecords && caseRecords.diagnosis && caseRecords.diagnosis.provisionalDiagnosis }}
            </div>
          </td>
        </tr>
        <tr>
          <th colspan="4" id="specialistAdvice"> {{currentLanguageSet?.specialistAdvice}}: </th>
        </tr>
        <tr>
          <td colspan="4">
            <div class="textarea">
              {{ caseRecords && caseRecords.diagnosis && caseRecords.diagnosis.confirmatoryDiagnosis }}
            </div>
          </td>
        </tr>
        <tr>
          <th id="maternalDeath"> {{currentLanguageSet?.maternalDeathDuringPnc}}:</th>
          <td *ngIf="caseRecords?.diagnosis?.isMaternalDeath == true">{{ 'Yes' }} </td>
          <td *ngIf="caseRecords?.diagnosis?.isMaternalDeath == false">{{ 'No' }} </td>
          <td colspan="2"></td>
        </tr>
        <ng-container *ngIf="caseRecords?.diagnosis?.isMaternalDeath">
          <tr>
            <th id="dateOfDeath"> {{currentLanguageSet?.dateOfDeath}}:</th>
            <td> {{ caseRecords && caseRecords.diagnosis && caseRecords.diagnosis.dateOfDeath}} </td>
            <th id="placeOfDeath"> {{currentLanguageSet?.placeOfDeath}}:</th>
            <td> {{ caseRecords && caseRecords.diagnosis && caseRecords.diagnosis.placeOfDeath}} </td>
          </tr>
          <tr>
            <th colspan="4" id="causeOfDeath"> {{currentLanguageSet?.probableCauseOfDeath}}: </th>
          </tr>
          <tr>
            <td colspan="4">
              <div class="textarea">
                {{ caseRecords && caseRecords.diagnosis && caseRecords.diagnosis.causeOfDeath}}
              </div>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>

    <!-- NCD Care Diagnosis -->
    <div *ngIf="visitCategory == 'NCD care'" class="col-xs-12">
      <table class="table table-no-border casesheet-table" aria-describedby="caseSheetDetails"
      >
        <tr>
          <th id="ncdCondition"> {{currentLanguageSet?.ncdCondition}}:</th>
          <td> {{ caseRecords && caseRecords.diagnosis && caseRecords.diagnosis.ncdScreeningCondition}} </td>
          <th id="typeofNCDCare"> {{currentLanguageSet?.typeofNCDCare}}:</th>
          <td> {{ caseRecords && caseRecords.diagnosis && caseRecords.diagnosis.ncdCareType}} </td>
        </tr>
        <tr>
          <th colspan="4" id="typeofNCD"> {{currentLanguageSet?.typeOfNcdComplication}}: </th>
        </tr>
        <tr>
          <td colspan="4">
            <div class="textarea">
              {{ caseRecords && caseRecords.diagnosis && caseRecords.diagnosis.ncdComplication }}
            </div>
          </td>
        </tr>
      </table>
    </div>

    <!-- General OPD Diagnosis -->
    <div *ngIf="visitCategory == 'General OPD'" class="col-xs-12">
      <table class="table table-no-border casesheet-table" aria-describedby="caseSheetDetails"
      >
        <tr>
          <th colspan="4" id="provisionalDiagnosis"> {{currentLanguageSet?.provisionalDiagnosis}}: </th>
        </tr>
        <tr>
          <td colspan="4">
            <div class="textarea">
              {{ caseRecords && caseRecords.diagnosis && caseRecords.diagnosis.diagnosisProvided }}
            </div>
          </td>
        </tr>
        <tr>
          <th colspan="4" id="specialistAdvice"> {{currentLanguageSet?.specialistAdvice}}: </th>
        </tr>
        <tr>
          <td colspan="4">
            <div class="textarea">
              {{ caseRecords && caseRecords.diagnosis && caseRecords.diagnosis.instruction }}
            </div>
          </td>
        </tr>
      </table>
    </div>

    <!-- General OPD (QC) Diagnosis -->
    <div *ngIf="visitCategory == 'General OPD (QC)'" class="col-xs-12">
      <table class="table table-no-border casesheet-table" aria-describedby="caseSheetDetails"
      >
        <tr>
          <th colspan="4" id="provisionalDiagnosis"> {{currentLanguageSet?.provisionalDiagnosis}}: </th>
        </tr>
        <tr>
          <td colspan="4">
            <div class="textarea">
              {{ caseRecords && caseRecords.diagnosis && caseRecords.diagnosis.provisionalDiagnosis }}
            </div>
          </td>
        </tr>
        <tr>
          <th colspan="4" id="specialistAdvice"> {{currentLanguageSet?.specialistAdvice}}: </th>
        </tr>
        <tr>
          <td colspan="4">
            <div class="textarea">
              {{ caseRecords && caseRecords.diagnosis && caseRecords.diagnosis.specialistAdvice }}
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!-- End of Diagnosis -->

  <!-- Prescription -->
  <div class="row m-t-10">
    <div class="col-xs-12">
      <h4>{{currentLanguageSet?.prescription}}</h4>
    </div>

    <div class="col-xs-12">
      <table class="table table-bordered table-striped" aria-describedby="caseSheetDetails"
      >
        <thead>
          <tr>
            <th style="width: 5%" id="sno">{{currentLanguageSet?.sno}}</th>
            <th style="width: 25%" id="nameAndStrength">{{currentLanguageSet?.nameAndStrengthOfDrug}}</th>
            <th style="width: 10%" id="form">{{currentLanguageSet?.form}}</th>
            <th style="width: 10%" id="dose">{{currentLanguageSet?.dose}}</th>
            <th style="width: 20%" id="frequency">{{currentLanguageSet?.frequency}}</th>
            <th style="width: 10%" id="durationValue">{{currentLanguageSet?.durationValue}}</th>
            <th style="width: 10%" id="durationUnit">{{currentLanguageSet?.durationUnit}}</th>
            <th style="width: 10%" id="instructions">{{currentLanguageSet?.instructions}}</th>
          </tr>
        </thead>
        <tbody *ngIf="!caseRecords || !caseRecords.prescription || !caseRecords.prescription || caseRecords.prescription.length == 0">
          <tr>
            <td class="text-center" colspan="8"> {{currentLanguageSet?.noRecordFound}} </td>
          </tr>
        </tbody>
        <tbody *ngIf="caseRecords && caseRecords.prescription && caseRecords.prescription">
          <tr *ngFor="let drug of caseRecords.prescription; let i = index">
            <td>{{ i+ 1}}</td>
            <td>{{ drug.drugName }} {{drug.drugStrength }}</td>
            <td>{{ drug.formName }}</td>
            <td>{{ drug.dose }}</td>
            <td>{{ drug.frequency}}</td>
            <td>{{ drug.duration }}</td>
            <td>{{ drug.unit }}</td>
            <td>{{ drug.instructions }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- End of Prescription -->

  <!-- Doctor's Sign -->
  <div class="row m-t-50">
    <div class="col-xs-6">&nbsp;</div>
    <div class="col-xs-6">
      <p>
        <strong>{{currentLanguageSet?.doctorSign}}: </strong>
      </p>
    </div>
  </div>
  <!-- End of Doctor's Sign -->
</div>